* {
  box-sizing: border-box;
}
/* body */
.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hrader"
    "main"
    "footer";
  justify-items: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
}
/* header */
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__section {
  margin-top: 20px;
  padding: 0 30px;
  background-color: white;
  max-width: 1500px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__section img {
  width: 200px;
  margin-left: 80px;
}
.header__nav {
  margin-left: 80px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  text-transform: uppercase;
  padding: 30px 15px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  border-bottom: 5px solid grey;
}
.header__burger-menu {
  margin-left: 50px;
  display: none;
}
.header__burger-menu div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
@media only screen and (max-width: 1800px) {
  .header p {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .header__section {
    justify-content: space-around;
  }
  .header__nav {
    display: none;
  }
  .header__burger-menu {
    display: block;
  }
}
/* main */
.main {
  margin: 150px 0;
  width: 100%;
}
.main__conteiner {
  background-color: white;
  max-width: 1700px;
  width: 100%;
  padding: 30px 50px;
  margin: 0 auto;
}
/* main content */
.main__content {
  width: 100%;
  padding: 30px 10px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  grid-auto-rows: 200px;
  grid-gap: 10px;
  grid-auto-flow: row;
}
.content__box {
  min-width: 290px;
  min-height: 200px;
}
/* specific boxes */
.content__box--sad-man {
  background-image: url(https://images.unsplash.com/photo-1597282163095-e4193546da4b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=754&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--birds-lining {
  background-image: url(https://images.unsplash.com/photo-1519289312798-1c1ae8cae4e9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--women-first {
  background-image: url(https://images.unsplash.com/photo-1568633782872-67d29d4615d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--amazon {
  background-image: url(https://images.unsplash.com/photo-1522780550166-284a0288c8df?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--pattern {
  background-image: url(https://images.unsplash.com/photo-1486551937199-baf066858de7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=846&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--baby {
  background-image: url(https://images.unsplash.com/photo-1504376379689-8d54347b26c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=762&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--speaker {
  background-image: url(https://images.unsplash.com/photo-1544380935-17ce6a107313?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=846&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  grid-column: span 2;
  grid-row: span 2;
}
.content__box--meditation {
  background-image: url(https://images.unsplash.com/photo-1554244933-d876deb6b2ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--birds-snow-1 {
  background-image: url(https://images.unsplash.com/photo-1489513963600-afa31b458fec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=845&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--pank {
  background-image: url(https://images.unsplash.com/photo-1610831574004-5ae5c8e184bd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1978&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--women-second {
  background-image: url(https://images.unsplash.com/photo-1568633782872-67d29d4615d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.content__box--sun-glasses {
  background-image: url(https://images.unsplash.com/photo-1491947153227-33d59da6c448?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  grid-column: span 2;
  grid-row: span 2;
}
.content__box--women-in-water {
  background-image: url(https://images.unsplash.com/photo-1439902315629-cd882022cea0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--cat {
  background-image: url(https://images.unsplash.com/photo-1555705823-f76775b19a7f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--man-in-black {
  background-image: url(https://images.unsplash.com/photo-1520078452277-0832598937e5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--basketball-net {
  background-image: url(https://images.unsplash.com/photo-1519339859931-96ff5c81fbe6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=759&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--sea {
  background-image: url(https://images.unsplash.com/photo-1588056327227-473588e2f93c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--child-smiling {
  background-image: url(https://images.unsplash.com/photo-1527585743534-7113e3211270?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--man-and-birds {
  background-image: url(https://images.unsplash.com/photo-1564357227598-349ee4e5b6ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--port-first {
  background-image: url(https://images.unsplash.com/photo-1584369660934-1bcb1be6816d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--ginger {
  background-image: url(https://images.unsplash.com/photo-1504553101389-41a8f048c3ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--moon-in-black {
  background-image: url(https://images.unsplash.com/photo-1517635692203-bc49d53d9606?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--factory {
  background-image: url(https://images.unsplash.com/photo-1508404842800-7613fb278b9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--cameras {
  background-image: url(https://images.unsplash.com/photo-1611607336518-66e5c6f37083?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=817&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--park {
  background-image: url(https://images.unsplash.com/photo-1560441546-28bcc9c36ae1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--moon {
  background-image: url(https://images.unsplash.com/photo-1490814525860-594e82bfd34a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=813&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  grid-column: span 2;
  grid-row: span 2;
}
.content__box--cat-in-dark {
  background-image: url(https://images.unsplash.com/photo-1588093335104-b539e62d7a72?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--redhead {
  background-image: url(https://images.unsplash.com/photo-1534119768988-c496213eff76?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--building-front {
  background-image: url(https://images.unsplash.com/photo-1595428123338-e03a5ad595e1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=807&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--class {
  background-image: url(https://images.unsplash.com/20/bw-room.JPG?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  grid-column: span 2;
  grid-row: span 2;
}
.content__box--mermaid {
  background-image: url(https://images.unsplash.com/photo-1591551730200-9292d3844d0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=798&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--swan {
  background-image: url(https://images.unsplash.com/photo-1563999353208-52a962252bb7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=773&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.content__box--castle {
  background-image: url(https://images.unsplash.com/photo-1612935571023-0b7fd24b6f17?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.content__box--person {
  background-image: url(https://images.unsplash.com/photo-1490059830487-2f86fddb2b4b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  grid-column: span 2;
  grid-row: span 2;
}
.content__box--protest {
  background-image: url(https://images.unsplash.com/photo-1590894682018-20122c219752?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=836&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--hustle {
  background-image: url(https://images.unsplash.com/photo-1545947597-7975c1d364eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--birds {
  background-image: url(https://images.unsplash.com/photo-1527567018838-584d3468eb85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  grid-column: span 2;
  grid-row: span 2;
}
.content__box--building {
  background-image: url(https://images.unsplash.com/photo-1494028960909-2321fad2a785?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--old-telephone {
  background-image: url(https://images.unsplash.com/photo-1606585728948-23827bbceef6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--model {
  background-image: url(https://images.unsplash.com/photo-1524041255072-7da0525d6b34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--cofee {
  background-image: url(https://images.unsplash.com/photo-1519831802596-6aadd85ff671?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--birds-snow-2 {
  background-image: url(https://images.unsplash.com/photo-1489513963600-afa31b458fec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=845&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.content__box--black-devices {
  background-image: url(https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 590px;
  grid-column: span 2;
  grid-row: span 2;
}
.content__box--tall-building {
  background-image: url(https://images.unsplash.com/photo-1527746936496-b0ed481b493d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--fruit {
  background-image: url(https://images.unsplash.com/photo-1516876319496-d5a849a2e89b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--street-art {
  background-image: url(https://images.unsplash.com/photo-1561149872-0e610fdeb03a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=825&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--moon-surface {
  background-image: url(https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--moon-pyramid {
  background-image: url(https://images.unsplash.com/photo-1586958479692-dc8531fe3751?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content__box--port-second {
  background-image: url(https://images.unsplash.com/photo-1584369660934-1bcb1be6816d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
@media only screen and (min-width: 1326px) and (max-width: 1626px) {
  .content__box--swan {
    display: block;
  }
  .content__box--castle {
    display: block;
  }
  .content__box--port-second {
    display: block;
  }
}
@media only screen and (min-width: 1026px) and (max-width: 1326px) {
  .content__box--birds-snow-2 {
    display: block;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1026px) {
  .content__box--women-second {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .main__content {
    padding: 0;
    margin: 0 10px;
    grid-template-columns: 290px;
  }
  .content__box {
    max-width: 300px;
    max-height: 210px;
    grid-column: span 1;
    grid-row: span 1;
  }
}
/* footer */
.footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
.footer_section {
  width: 100%;
  max-width: 1500px;
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
}
.footer_section p {
  text-transform: uppercase;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}
